<section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Hakkımızda
              </h2>
            </div>
            <p>
              "Aktifbank, finans dünyasında sadece bir banka olarak değil, aynı zamanda finansal çözümler konusundaki güvenilir ortağınız olarak faaliyet göstermektedir. Misyonumuz, müşterilerimize güvenilirlik, yenilikçilik ve mükemmel hizmet sunma taahhüdüdür. Müşteri memnuniyeti, işimizin merkezinde yer alır ve her müşterinin finansal hedeflerine ulaşmasına yardımcı olmak için buradayız. 
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="assets/caint/images/about-img.jpg" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>
